.cv-light-grey {
    background-color: #f1f1f1; /* Light grey color for the background */
    width: 100%;
    height: 24px;
    border-radius: 25px; /* Make the corners rounded */
}

.cv-round-xlarge {
    border-radius: 25px; /* Make the corners rounded */
}

.cv-teal {
    color: #fff !important; /* White text color */
    background-color: #2e6295; /* Teal color for the proficiency bar */
    height: 46px;
    border-radius: 25px; /* Make the corners rounded */
}

.cv-bar {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
}

.cv-bar-item {
    flex: 1;
    flex-basis: 0;
    text-align: center;
    padding: 14px 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: white;
    background-color: #333;
    border: none;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0; 
    box-sizing: border-box;
    min-width: 100px; /* Ensure buttons don't get too small */
    max-width: 40%;
}


.cv-bar-item.cv-teal {
    background-color: #2e6295; /* Background color for active tab */
}

.tab {
    display: none;
}

.cv-center {
  text-align: center;
}

.cv-margin-top {
  margin-top: 20px;
}

.cv-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cv-button:hover {
    background-color: #555;
}

.fa-download {
    margin-right: 8px;
}

.cv-container {
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .cv-bar-item {
        flex-basis: 40%;
        max-width: 40%;
        font-size: 14px;
        padding: 10px;
    }

    .cv-container {
        padding: 10px;
    }
}

.instagram-media {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* New styles from cv.md */

.tab {
    display: none;
}
.tab.active {
    display: block;
}
.icon-black {
    color: black !important;
}
.skill-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 70px;
}
.skill-icon {
    max-height: 100%;
    margin-right: 15px;
}
.skill-section {
    margin-bottom: 20px;
}
.skill-section h3 {
    margin-bottom: 10px;
    color: #333;
}
.container {
    width: 100%;
    margin: 20px auto;
    padding: 0 5px;
    box-sizing: border-box;
}
.tabs {
    background-color: black;
    overflow: hidden;
}
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}
.tabs button:hover {
    background-color: #ddd;
    color: black;
}
.tabs button.active {
    background-color: #009688;
    color: white;
}
.tab-content {
    padding: 6px 12px;
    border-top: none;
}
.skill-section {
    display: flex;
    flex-direction: column;
}
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skill-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}
